/****** Object:  Database [THUONGMAIDIENTU]    Script Date: 10/9/2019 1:14:03 PM ******/
CREATE DATABASE [THUONGMAIDIENTU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THUONGMAIDIENTU', FILENAME = N'C:\DevPrograms\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\THUONGMAIDIENTU.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'THUONGMAIDIENTU_log', FILENAME = N'C:\DevPrograms\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\THUONGMAIDIENTU_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THUONGMAIDIENTU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  UserDefinedFunction [dbo].[func_CryptData]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[func_CryptData] (@Data varchar(100))
returns varchar(256)
as
begin
return convert(varchar(256),HASHBYTES('SHA2_256',@Data),2)
end
GO
/****** Object:  Table [dbo].[CATEGORY_NEWS]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORY_NEWS](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[CategoryIcon] [varchar](40) NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK__CATEGORY__CBD74706761EAD65] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORY_PRODUCT]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORY_PRODUCT](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](40) NOT NULL,
	[CategoryIcon] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMMENT_PRODUCT]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT_PRODUCT](
	[IdComment] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [nvarchar](255) NULL,
	[IdProduct] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[CommentStatus] [bit] NULL,
	[IdUser] [int] NOT NULL,
	[CommentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[IdCustomer] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](40) NULL,
	[CustomerAddress] [nvarchar](50) NULL,
	[CustomerPhone] [varchar](10) NULL,
	[CustomerEmail] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIFTCODE]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIFTCODE](
	[IdCode] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Discount] [float] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INFO]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFO](
	[IdInfo] [int] IDENTITY(1,1) NOT NULL,
	[InfoName] [nvarchar](255) NOT NULL,
	[InfoCategory] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[IdNews] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](255) NOT NULL,
	[NewsSumary] [nvarchar](255) NOT NULL,
	[NewsDetail] [ntext] NULL,
	[NewsThumbail] [varchar](255) NULL,
	[IdCategory] [int] NOT NULL,
	[IdUser] [int] NULL,
	[DateCreate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdCode] [int] NULL,
	[IdCustomer] [int] NOT NULL,
	[IdUser] [int] NULL,
	[DateOrder] [datetime] NULL,
	[DateDelivery] [smalldatetime] NULL,
	[TimeDelivery] [timestamp] NULL,
	[Total] [float] NULL,
	[OrderComment] [nvarchar](500) NULL,
	[IdPayment] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
 CONSTRAINT [PK__ORDER__C38F3009D09952D0] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDER_HISTORY]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_HISTORY](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdOrder] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[DateHistory] [datetime] NULL,
	[IdStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAYMENT_METHOD]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHOD](
	[IdPayment] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAYMENT_STATUS]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_STATUS](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[ProductSumary] [nvarchar](255) NULL,
	[ProductDetail] [ntext] NULL,
	[ProductPrice] [float] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT_IMG]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_IMG](
	[IdImg] [int] IDENTITY(1,1) NOT NULL,
	[Filename] [varchar](255) NOT NULL,
	[ImgAlt] [nvarchar](255) NULL,
	[IdProduct] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_INFO]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_INFO](
	[IdProduct] [int] NOT NULL,
	[IdInfo] [int] NOT NULL,
	[Info] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC,
	[IdInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT_ORDER]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_ORDER](
	[IdProduct] [int] NOT NULL,
	[IdOrder] [int] NOT NULL,
	[Count] [tinyint] NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL,
	[IMEI] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC,
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_PROMOTION]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_PROMOTION](
	[IdProduct] [int] NOT NULL,
	[IdPromotion] [int] NOT NULL,
	[Discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC,
	[IdPromotion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[IdPromotion] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NULL,
	[PromotionStart] [datetime] NULL,
	[PromotionEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPromotion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REVIEW_PRODUCT]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW_PRODUCT](
	[IdReview] [int] IDENTITY(1,1) NOT NULL,
	[ReviewContent] [nvarchar](255) NULL,
	[ReviewPoint] [tinyint] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[ReviewStatus] [bit] NOT NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Fullname] [nvarchar](40) NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK__USER__B7C9263818D79CCD] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_NEWS] ON 

INSERT [dbo].[CATEGORY_NEWS] ([IdCategory], [CategoryName], [CategoryIcon], [IdUser]) VALUES (4, N'Điện thoại', N'fas fa-mobile-alt', 3)
INSERT [dbo].[CATEGORY_NEWS] ([IdCategory], [CategoryName], [CategoryIcon], [IdUser]) VALUES (6, N'Mẹo vặt', N'fas fa-lightbulb', 3)
SET IDENTITY_INSERT [dbo].[CATEGORY_NEWS] OFF
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] ON 

INSERT [dbo].[CATEGORY_PRODUCT] ([IdCategory], [CategoryName], [CategoryIcon]) VALUES (2, N'Apple', N'fab fa-apple')
INSERT [dbo].[CATEGORY_PRODUCT] ([IdCategory], [CategoryName], [CategoryIcon]) VALUES (3, N'Surface', N'fab fa-microsoft')
INSERT [dbo].[CATEGORY_PRODUCT] ([IdCategory], [CategoryName], [CategoryIcon]) VALUES (4, N'Samsung', N'fab fa-android')
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([IdCustomer], [CustomerName], [CustomerAddress], [CustomerPhone], [CustomerEmail]) VALUES (1, N'Phạm Ngọc Vinh', N'336 Nguyễn Văn Luông P12 Q6 Tp. HCM', N'0707743501', N'vinhphamdhsp@live.com')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[INFO] ON 

INSERT [dbo].[INFO] ([IdInfo], [InfoName], [InfoCategory]) VALUES (1, N'Dung lượng', N'PIN')
INSERT [dbo].[INFO] ([IdInfo], [InfoName], [InfoCategory]) VALUES (2, N'Công nghệ', N'PIN')
INSERT [dbo].[INFO] ([IdInfo], [InfoName], [InfoCategory]) VALUES (3, N'Độ phân giải', N'MÀN HÌNH')
SET IDENTITY_INSERT [dbo].[INFO] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

INSERT [dbo].[NEWS] ([IdNews], [NewsTitle], [NewsSumary], [NewsDetail], [NewsThumbail], [IdCategory], [IdUser], [DateCreate]) VALUES (12, N'Bphone 4, Bphone 4 Lite, Bphone 4 Pro lộ cấu hình và ảnh concept', N'4', N'<p>&nbsp;</p>

<p>5</p>
', N'bphone-4,-bphone-4-lite,-bphone-4-pro-lo-cau-hinh-va-anh-concept.png', 6, 3, CAST(N'2019-10-07 12:43:58.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[NEWS] OFF
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([IdOrder], [IdCode], [IdCustomer], [IdUser], [DateOrder], [DateDelivery], [Total], [OrderComment], [IdPayment], [IdStatus]) VALUES (1, NULL, 1, NULL, CAST(N'2019-10-06 20:14:24.920' AS DateTime), CAST(N'2019-10-06 20:14:00' AS SmallDateTime), 6990000, NULL, 2, 5)
INSERT [dbo].[ORDER] ([IdOrder], [IdCode], [IdCustomer], [IdUser], [DateOrder], [DateDelivery], [Total], [OrderComment], [IdPayment], [IdStatus]) VALUES (2, NULL, 1, NULL, CAST(N'2019-10-06 20:15:50.467' AS DateTime), CAST(N'2019-10-06 20:16:00' AS SmallDateTime), 6990000, NULL, 1, 5)
INSERT [dbo].[ORDER] ([IdOrder], [IdCode], [IdCustomer], [IdUser], [DateOrder], [DateDelivery], [Total], [OrderComment], [IdPayment], [IdStatus]) VALUES (3, NULL, 1, NULL, CAST(N'2019-10-06 20:15:57.773' AS DateTime), CAST(N'2019-10-06 20:16:00' AS SmallDateTime), 6990000, NULL, 1, 5)
SET IDENTITY_INSERT [dbo].[ORDER] OFF
SET IDENTITY_INSERT [dbo].[ORDER_HISTORY] ON 

INSERT [dbo].[ORDER_HISTORY] ([IdHistory], [IdUser], [IdOrder], [Comment], [DateHistory], [IdStatus]) VALUES (1, 3, 20, NULL, NULL, 3)
INSERT [dbo].[ORDER_HISTORY] ([IdHistory], [IdUser], [IdOrder], [Comment], [DateHistory], [IdStatus]) VALUES (2, 3, 20, NULL, NULL, 4)
INSERT [dbo].[ORDER_HISTORY] ([IdHistory], [IdUser], [IdOrder], [Comment], [DateHistory], [IdStatus]) VALUES (3, 3, 1, NULL, CAST(N'2019-10-06 21:10:34.537' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[ORDER_HISTORY] OFF
SET IDENTITY_INSERT [dbo].[PAYMENT_METHOD] ON 

INSERT [dbo].[PAYMENT_METHOD] ([IdPayment], [PaymentName]) VALUES (1, N'COD')
INSERT [dbo].[PAYMENT_METHOD] ([IdPayment], [PaymentName]) VALUES (2, N'Internet banking')
SET IDENTITY_INSERT [dbo].[PAYMENT_METHOD] OFF
SET IDENTITY_INSERT [dbo].[PAYMENT_STATUS] ON 

INSERT [dbo].[PAYMENT_STATUS] ([IdStatus], [StatusName]) VALUES (1, N'Đặt hàng')
INSERT [dbo].[PAYMENT_STATUS] ([IdStatus], [StatusName]) VALUES (2, N'Đã thanh toán')
INSERT [dbo].[PAYMENT_STATUS] ([IdStatus], [StatusName]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[PAYMENT_STATUS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT_IMG] ON 

INSERT [dbo].[PRODUCT_IMG] ([IdImg], [Filename], [ImgAlt], [IdProduct]) VALUES (15, N'bkav-bphone-2015-1.png', N'Bkav Bphone 2015', 2)
INSERT [dbo].[PRODUCT_IMG] ([IdImg], [Filename], [ImgAlt], [IdProduct]) VALUES (16, N'bkav-bphone-2015-2.png', N'Bkav Bphone 2015', 2)
INSERT [dbo].[PRODUCT_IMG] ([IdImg], [Filename], [ImgAlt], [IdProduct]) VALUES (17, N'bkav-bphone-2015-3.png', N'Bkav Bphone 2015', 2)
SET IDENTITY_INSERT [dbo].[PRODUCT_IMG] OFF
INSERT [dbo].[PRODUCT_INFO] ([IdProduct], [IdInfo], [Info]) VALUES (1, 1, N'1000Mha')
INSERT [dbo].[PRODUCT_INFO] ([IdProduct], [IdInfo], [Info]) VALUES (1, 2, N'TFT')
INSERT [dbo].[PRODUCT_INFO] ([IdProduct], [IdInfo], [Info]) VALUES (1, 3, N'1024x768')
INSERT [dbo].[PRODUCT_ORDER] ([IdProduct], [IdOrder], [Count], [Price], [Discount], [IMEI]) VALUES (1, 21, 1, 5900000, 0, N'BKAV123321')
INSERT [dbo].[PRODUCT_ORDER] ([IdProduct], [IdOrder], [Count], [Price], [Discount], [IMEI]) VALUES (2, 1, 1, 6990000, 0, N'19001560')
INSERT [dbo].[PRODUCT_ORDER] ([IdProduct], [IdOrder], [Count], [Price], [Discount], [IMEI]) VALUES (2, 2, 1, 6990000, 0, NULL)
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([IdRole], [RoleName]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[ROLE] ([IdRole], [RoleName]) VALUES (2, N'Biên tập viên')
INSERT [dbo].[ROLE] ([IdRole], [RoleName]) VALUES (3, N'Kiểm duyệt viên')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([IdUser], [Username], [Password], [Fullname], [IdRole]) VALUES (3, N'vinhpham', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'Phạm Ngọc Vinh', 1)
INSERT [dbo].[USER] ([IdUser], [Username], [Password], [Fullname], [IdRole]) VALUES (4, N'anhminh', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'Nghiêm Quốc Anh Minh', 2)
INSERT [dbo].[USER] ([IdUser], [Username], [Password], [Fullname], [IdRole]) VALUES (5, N'trinam', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'Lê Trí Nam', 3)
SET IDENTITY_INSERT [dbo].[USER] OFF
ALTER TABLE [dbo].[CATEGORY_NEWS]  WITH CHECK ADD  CONSTRAINT [FK__CATEGORY___IdUse__34C8D9D1] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[CATEGORY_NEWS] CHECK CONSTRAINT [FK__CATEGORY___IdUse__34C8D9D1]
GO
ALTER TABLE [dbo].[CATEGORY_NEWS]  WITH CHECK ADD  CONSTRAINT [FK__CATEGORY___IdUse__60A75C0F] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[CATEGORY_NEWS] CHECK CONSTRAINT [FK__CATEGORY___IdUse__60A75C0F]
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__COMMENT_P__IdUse__36B12243] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT] CHECK CONSTRAINT [FK__COMMENT_P__IdUse__36B12243]
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__COMMENT_P__IdUse__628FA481] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[COMMENT_PRODUCT] CHECK CONSTRAINT [FK__COMMENT_P__IdUse__628FA481]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK__NEWS__IdCategory__4316F928] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[CATEGORY_NEWS] ([IdCategory])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK__NEWS__IdCategory__4316F928]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_USER] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_USER]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdCode__49C3F6B7] FOREIGN KEY([IdCode])
REFERENCES [dbo].[GIFTCODE] ([IdCode])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdCode__49C3F6B7]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdCode__75A278F5] FOREIGN KEY([IdCode])
REFERENCES [dbo].[GIFTCODE] ([IdCode])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdCode__75A278F5]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdCustome__45F365D3] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdCustome__45F365D3]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdCustome__71D1E811] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdCustome__71D1E811]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdPayment__4AB81AF0] FOREIGN KEY([IdPayment])
REFERENCES [dbo].[PAYMENT_METHOD] ([IdPayment])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdPayment__4AB81AF0]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdPayment__76969D2E] FOREIGN KEY([IdPayment])
REFERENCES [dbo].[PAYMENT_METHOD] ([IdPayment])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdPayment__76969D2E]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdStatus__4BAC3F29] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PAYMENT_STATUS] ([IdStatus])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdStatus__4BAC3F29]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdStatus__778AC167] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PAYMENT_STATUS] ([IdStatus])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdStatus__778AC167]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdUser__38996AB5] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdUser__38996AB5]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK__ORDER__IdUser__6477ECF3] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK__ORDER__IdUser__6477ECF3]
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK__ORDER_HIS__IdOrd__47DBAE45] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[ORDER] ([IdOrder])
GO
ALTER TABLE [dbo].[ORDER_HISTORY] CHECK CONSTRAINT [FK__ORDER_HIS__IdOrd__47DBAE45]
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK__ORDER_HIS__IdOrd__73BA3083] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[ORDER] ([IdOrder])
GO
ALTER TABLE [dbo].[ORDER_HISTORY] CHECK CONSTRAINT [FK__ORDER_HIS__IdOrd__73BA3083]
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PAYMENT_STATUS] ([IdStatus])
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PAYMENT_STATUS] ([IdStatus])
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK__ORDER_HIS__IdUse__398D8EEE] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[ORDER_HISTORY] CHECK CONSTRAINT [FK__ORDER_HIS__IdUse__398D8EEE]
GO
ALTER TABLE [dbo].[ORDER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK__ORDER_HIS__IdUse__656C112C] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[ORDER_HISTORY] CHECK CONSTRAINT [FK__ORDER_HIS__IdUse__656C112C]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCategory])
REFERENCES [dbo].[CATEGORY_PRODUCT] ([IdCategory])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCategory])
REFERENCES [dbo].[CATEGORY_PRODUCT] ([IdCategory])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT__IdUser__35BCFE0A] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK__PRODUCT__IdUser__35BCFE0A]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT__IdUser__619B8048] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK__PRODUCT__IdUser__619B8048]
GO
ALTER TABLE [dbo].[PRODUCT_IMG]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_INFO]  WITH CHECK ADD FOREIGN KEY([IdInfo])
REFERENCES [dbo].[INFO] ([IdInfo])
GO
ALTER TABLE [dbo].[PRODUCT_INFO]  WITH CHECK ADD FOREIGN KEY([IdInfo])
REFERENCES [dbo].[INFO] ([IdInfo])
GO
ALTER TABLE [dbo].[PRODUCT_INFO]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_INFO]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT_O__IdOrd__46E78A0C] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[ORDER] ([IdOrder])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER] CHECK CONSTRAINT [FK__PRODUCT_O__IdOrd__46E78A0C]
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCT_O__IdOrd__72C60C4A] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[ORDER] ([IdOrder])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER] CHECK CONSTRAINT [FK__PRODUCT_O__IdOrd__72C60C4A]
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_ORDER]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_PROMOTION]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_PROMOTION]  WITH CHECK ADD FOREIGN KEY([IdPromotion])
REFERENCES [dbo].[PROMOTION] ([IdPromotion])
GO
ALTER TABLE [dbo].[PRODUCT_PROMOTION]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[PRODUCT_PROMOTION]  WITH CHECK ADD FOREIGN KEY([IdPromotion])
REFERENCES [dbo].[PROMOTION] ([IdPromotion])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[PRODUCT] ([IdProduct])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__REVIEW_PR__IdUse__37A5467C] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT] CHECK CONSTRAINT [FK__REVIEW_PR__IdUse__37A5467C]
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK__REVIEW_PR__IdUse__6383C8BA] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USER] ([IdUser])
GO
ALTER TABLE [dbo].[REVIEW_PRODUCT] CHECK CONSTRAINT [FK__REVIEW_PR__IdUse__6383C8BA]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK__USER__IdRole__3A81B327] FOREIGN KEY([IdRole])
REFERENCES [dbo].[ROLE] ([IdRole])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK__USER__IdRole__3A81B327]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK__USER__IdRole__66603565] FOREIGN KEY([IdRole])
REFERENCES [dbo].[ROLE] ([IdRole])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK__USER__IdRole__66603565]
GO
/****** Object:  StoredProcedure [dbo].[proc_CryptData]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_CryptData] (@Data varchar(100))
as
begin
declare @Result varchar(256)
set @Result = dbo.func_CryptData(@Data)
select top 1 @Result
end
GO
/****** Object:  Trigger [dbo].[trg_AutoCryptPassword]    Script Date: 10/9/2019 1:14:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_AutoCryptPassword] on [dbo].[USER]
for insert, update
as
begin
	if UPDATE([Password])
	begin
		declare @EmployeeID int
		declare @Password varchar(256)
		select @Password = [Password], @EmployeeID = IdUser from inserted
		set @Password = dbo.func_CryptData(@Password)
		update [USER] set [Password] = @Password where IdUser = @EmployeeID
	end
end

GO
